<div class="vid-container">
    <video class="bgvid" autoplay="autoplay" muted="silent" preload="auto" loop>
        <source src="../../../../assets/login/Joun Alia Ustaad *.mp4" type="video/webm">
    </video>
    <div class="inner-container">
      <video class="bgvid inner" autoplay="autoplay" muted="silent" preload="auto" loop>
        <source src="../../../../assets/login/Joun Alia Ustaad *.mp4" type="video/webm">
      </video>
      <div class="box">
        <h1>Login</h1>
        <input type="text" placeholder="Username"/>
        <input type="text" placeholder="Password"/>
        <button>Login</button>
        <p>Not a member? <span>Sign Up</span></p>
      </div>
    </div>
  </div>