<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../../assets/CAROUSLE/13.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>First slide label</h5> -->
          <!-- <p>Some representative placeholder content for the first slide.</p> -->

          <div class="p-3 "  style="max-width: 1000px; margin-bottom: 150px;">
            <h5 class="display-1 text-white mb-md-4 animated zoomIn">Slide To See Big Magic</h5>
            <a class="btn py-md-3 px-md-5 me-3  animated slideInLeft myButton">Police</a>
            <a class="btn py-md-3 px-md-5 me-3 animated slideInLeft myButton">Lahore</a>
        </div> 
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/CAROUSLE/12.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Second slide label</h5> -->
          <!-- <p>Some representative placeholder content for the second slide.</p> -->

          <div class="p-3 "  style="max-width: 1000px; margin-bottom: 150px;">
            <h5 class="display-1 text-white mb-md-4 animated zoomIn">Slide To See Big Magic</h5>
            <a class="btn py-md-3 px-md-5 me-3  animated slideInLeft myButton">Police</a>
            <a class="btn py-md-3 px-md-5 me-3 animated slideInLeft myButton">Lahore</a>
        </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/CAROUSLE/5.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Third slide label</h5> -->
          <!-- <p>Some representative placeholder content for the third slide.</p> -->

          <div class="p-3 "  style="max-width: 1000px; margin-bottom: 150px;">
            <h5 class="display-1 text-white mb-md-4 animated zoomIn">Slide To See Big Magic</h5>
            <a class="btn py-md-3 px-md-5 me-3  animated slideInLeft myButton">Police</a>
            <a class="btn py-md-3 px-md-5 me-3 animated slideInLeft myButton">Lahore</a>
        </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<!-- card -->
<!-- ADVERTISERS SERVICE CARD -->
<section id="advertisers" class="advertisers-service-sec pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="section-header text-center">
        <h2 class="fw-bold fs-1">
          Our
          <span class="b-class-secondary">Advertiser </span>Services
        </h2>
        <p class="sec-icon"><i class="fa-solid fa-gear"></i></p>
      </div>
    </div>
    <div class="row mt-5 mt-md-4 row-cols-1 row-cols-sm-1 row-cols-md-3 justify-content-center">
      <div class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-chart-line"></i>
          </div>
          <h3>Tracking Lead</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Quisquam consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-arrows-down-to-people"></i>
          </div>
          <h3>Advanced Targeting solution</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Quisquam consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-globe"></i>
          </div>
          <h3>Global Reach & Quality Traffic</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Quisquam consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-money-check-dollar"></i>
          </div>
          <h3>Flexible pricing models</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Quisquam consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <i class="fa-regular fa-circle-check"></i>
          </div>
          <h3>Advanced optimization technologies & methodologies</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Quisquam consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="service-card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-people-group"></i>
          </div>
          <h3>Dedicated account management team</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Quisquam consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ADVERTISERS SERVICE CARD ENDED -->

<!-- 2nd card -->
<section class="info">
  <img src="https://codetheweb.blog/assets/img/icon2.png">
  <h1>Learn HTML & mdash; <a href="https://codetheweb.blog/" target="_blank">Code The Web</a></h1>
</section>
<section class="cards-wrapper">
  <div class="card-grid-space">
    <!-- <div class="num">01</div> -->
    <a class="card" href="https://codetheweb.blog/2017/10/06/html-syntax/" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
      <div>
        <h1>Making a responsive website on angular</h1>
        <p>Best website maker ( Mohsin Shahid )</p>
        <div class="date">6 Oct 2017</div>
        <div class="tags">
          <div class="tag">Card</div>
        </div>
      </div>
    </a>
  </div>
  <div class="card-grid-space">
    <!-- <div class="num">02</div> -->
    <a class="card" href="https://codetheweb.blog/2017/10/09/basic-types-of-html-tags/" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
      <div>
        <h1>Problem Solver</h1>
        <p>Learn about some of the famous Developer ( Sir Faizi )</p>
        <div class="date">9 Oct 2017</div>
        <div class="tags">
          <div class="tag">CEAO</div>
        </div>
      </div>
    </a>
  </div>
  <div class="card-grid-space">
    <!-- <div class="num">03</div> -->
    <a class="card" href="https://codetheweb.blog/2017/10/14/links-images-about-file-paths/" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/links-images-about-file-paths/cover.jpg')">
      <div>
        <h1>Web Developer</h1>
        <p>Learn how to use links and images along with file paths…</p>
        <div class="date">14 Oct 2017</div>
        <div class="tags">
          <div class="tag">Card</div>
        </div>
      </div>
    </a>
  </div>
  <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
</section>
 

<!-- card 4  -->
 

<section id="counts" class="counts">
  <div class="container" data-aos="fade-up">

    <div class="row">

      <div class="col-lg-3 col-md-6">
        <div class="count-box">
          <a href="../../../../assets/icon/apple-touch-icon.png"></a>
          <i class="fa-solid fa-face-smile"></i>
          <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
          <p>Happy Clients</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
        <div class="count-box">
          <i class="fa-regular fa-worm"></i>
          <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
          <p>Projects</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="fa-sharp fa-solid fa-life-ring"></i>
          <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
          <p>Hours Of Support</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="fa-sharp fa-solid fa-laptop-code"></i>
          <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
          <p>Hard Workers</p>
        </div>
      </div>
    </div>
</div>

<!-- Services 2  -->
<h1>About-us</h1>
<div class="container my-5 py-4 text-center">
  <div class="row">
      <div class="col-md-4">
          <img class="img-fluid w-60 h-50" src="../../../../assets/Services/download laptop icon 2.png" alt="">
          <h5>Web Developer</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum necessitatibus neque cum impedit quas nesciunt vitae beatae! Quam, debitis! Tempora debitis amet nemo quidem, sed quis architecto voluptatum? Nulla delectus iste vitae voluptatem porro quas excepturi blanditiis quos voluptatibus. Nostrum, eaque odit. Nam soluta temporibus, possimus magnam numquam magni doloribus voluptatem? At doloribus eveniet, debitis quaerat laboriosam necessitatibus qui ab ad neque pariatur ipsum repellendus atque odit, recusandae similique veniam consequatur voluptas soluta nobis labore quis incidunt esse commodi velit? Ad eius cupiditate, illum impedit molestias corporis repellendus esse ab vitae. </p>
          <button class="btn learnMore px-5 rounded-3">Learn More</button>
      </div>

      <div class="col-md-4">
          <img class="img-fluid w-80 h-50" src="../../../../assets/Services/images 5.png" alt="">
          <h5>Web Designer</h5>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, ad beatae magni inventore nihil ipsa, ullam distinctio ea laborum officia in repellat quasi perferendis nemo, odio itaque. Minus, quibusdam laudantium quas corporis at officiis veritatis voluptates numquam rem vel totam excepturi! Eaque qui similique, iure labore expedita earum ex. Sequi vero saepe, neque libero aut sit obcaecati qui facilis sunt necessitatibus voluptas cumque ipsa eveniet, quidem nam aperiam quod rem minima laudantium id a. Deleniti, voluptatem. Velit omnis, quidem nesciunt dolor ex eum quia voluptatum, dignissimos fugiat blanditiis excepturi assumenda iure dolorum praesentium est totam nulla sunt consequuntur commodi reprehenderit. </p>
          <button class="btn learnMore px-5 rounded-3">Learn More</button>
      </div>

       <div class="col-md-4">
          <img class="img-fluid w-80 h-50" src="../../../../assets/Services/images 6.png" alt="">
          <h5>Problem Solver</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias non iure doloremque ab alias libero, eveniet maiores inventore saepe id ipsa. Non culpa amet perferendis odio pariatur dolorum, provident similique facere cum velit, voluptatum repellat voluptates rerum suscipit assumenda doloremque nisi? Hic, sequi. Natus provident optio quam, quo repellat nobis accusantium minima exercitationem aliquam quod. Quas labore quia quasi totam voluptatibus autem consequuntur magnam architecto. Sit reiciendis quidem, illum distinctio adipisci ad earum nulla et, optio quas rerum ea ex qui autem. Enim nulla maiores est fugit porro corrupti numquam vitae voluptatibus pariatur dicta, nobis, magnam natus velit, tempora odio.</p>
          <button class="btn learnMore px-5 rounded-3">Learn More</button>
      </div>
