<section class="service-grid pb-5 pt-5">
  <div class="container">
      <div class="row">
          <div class="col-xl-12 text-center mb-4">
              <div class="service-title">
                  <h2>Our Services</h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6 text-center mb-3">
              <div class="service-wrap">
                  <div class="service-icon">
                      <i class="fas fa-layer-group"></i>
                  </div>
                  <h4>Designs & interfaces</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                  <a href="#">Read More</a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center mb-3">
              <div class="service-wrap">
                  <div class="service-icon">
                      <i class="far fa-chart-bar"></i>
                  </div>
                  <h4>Highly customizable</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                  <a href="#">Read More</a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center mb-3">
              <div class="service-wrap">
                  <div class="service-icon">
                      <i class="fas fa-database"></i>
                  </div>
                  <h4>Responsive design</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                  <a href="#">Read More</a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center mb-3">
              <div class="service-wrap">
                  <div class="service-icon">
                      <i class="fas fa-cogs"></i>
                  </div>
                  <h4>service & plugins</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                  <a href="#">Read More</a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center mb-3">
              <div class="service-wrap">
                  <div class="service-icon">
                      <i class="fas fa-chart-pie"></i>
                  </div>
                  <h4>Optimised for speed</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                  <a href="#">Read More</a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center mb-3">
              <div class="service-wrap">
                  <div class="service-icon">
                      <i class="fas fa-thumbs-up"></i>
                  </div>
                  <h4>Dedicated support</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                  <a href="#">Read More</a>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Footer -->

<!-- <div class="dummy_page">
  Mobile responsive footer
</div> -->
<!-- FOOTER START -->
<div class="footer">
  <div class="contain">
  <div class="col">
    <h1>Company</h1>
    <ul>
      <li>About</li>
      <li>Mission</li>
      <li>Services</li>
      <li>Social</li>
      <li>Get in touch</li>
    </ul>
  </div>
  <div class="col">
    <h1>Products</h1>
    <ul>
      <li>About</li>
      <li>Mission</li>
      <li>Services</li>
      <li>Social</li>
      <li>Get in touch</li>
    </ul>
  </div>
  <div class="col">
    <h1>Accounts</h1>
    <ul>
      <li>About</li>
      <li>Mission</li>
      <li>Services</li>
      <li>Social</li>
      <li>Get in touch</li>
    </ul>
  </div>
  <div class="col">
    <h1>Resources</h1>
    <ul>
      <li>Webmail</li>
      <li>Redeem code</li>
      <li>WHOIS lookup</li>
      <li>Site map</li>
      <li>Web templates</li>
      <li>Email templates</li>
    </ul>
  </div>
  <div class="col">
    <h1>Support</h1>
    <ul>
      <li>Contact us</li>
      <li>Web chat</li>
      <li>Open ticket</li>
    </ul>
  </div>
  <div class="col social">
    <h1>Social</h1>
    <ul>
      <li><img src="https://svgshare.com/i/5fq.svg" width="32" style="width: 32px;"></li>
      <li><img src="https://svgshare.com/i/5eA.svg" width="32" style="width: 32px;"></li>
      <li><img src="https://svgshare.com/i/5f_.svg" width="32" style="width: 32px;"></li>
    </ul>
  </div>
<div class="clearfix"></div>
</div>
</div>
<!-- END OF FOOTER -->